rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /favourites/{docId} {
      allow create: if request.auth != null
                          && request.auth.uid == request.resource.data.uid;
                  
      allow read, update, delete: if request.auth != null
                          && request.auth.uid == resource.data.uid;
    }
  }
}