.location-form {
  display: flex;
}

.location-form > div {
  flex: 1
}

.location-form button {
  display: inline-block;
  cursor: pointer;
  padding-inline: 10px;
}

/* Custom styles for react-select */
.select__control {
  display: flex !important;
  justify-content: center !important;
}

.select__control .select__input {
  text-align: center !important;
}

.select__value-container {
  justify-content: center !important;
}