.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.App .forecast-output {
  display: grid;
  grid-template-columns: 300px auto;
  justify-items: center;
}
.App .forecast-output > div {
  width: 100%;
}
.App .left-side {
  max-height: 80vh;
  overflow-y: auto;
}
.App .daily-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.App .day-card {
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}
.App ol.hourly-forecast {
  list-style: none;
}
.App .content {
  display: grid;
  grid-template-columns: auto 180px;
  flex: 1;
}
header {
  position: sticky;
  top: 0;
}
.App .sidebar {
  background-color: rgb(144, 232, 147);
  height: 100vh;
  overflow-y: auto;
}
.place-card {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(73, 112, 28);
  cursor: pointer;
}
.heading {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.heading button {
  padding-top: 3px;
  margin-top: 4px;
  margin-left: 30px;
  margin-right: -50px;
  width: 68px;
}
footer {
  width: 100%;
  background-color: aqua;
  padding-bottom: 30px;
}
.location-form {
  display: flex;
}

.location-form > div {
  flex: 1;
}

.location-form button {
  display: inline-block;
  cursor: pointer;
  padding-inline: 10px;
}

/* Custom styles for react-select */
.select__control {
  display: flex !important;
  justify-content: center !important;
}

.select__control .select__input {
  text-align: center !important;
}

.select__value-container {
  justify-content: center !important;
}
